---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bienvenido">
  <h1 class="text-center text-6xl text-white font-extrabold">
    Bienvenido a Laguna DEV
  </h1>
</Layout>
