<a
  class="px-4 py-2 text-3xl text-white block hover:ring-1 hover:ring-green-600 hover:text-green-600 rounded-lg transition ease-in-out hover:ease-in hover:animate-pulse hover:-translate-y-1"
  href=""
>
  <slot />
</a>
