<nav x-data="{open: false}">
  <div class="grid justify-items-end mb-2">
    <button
      @click="open = !open"
      class="text-white hover:text-green-600 lg:hidden"
    >
      <svg
        width="45"
        height="45"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
        x-show="!open"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path d="M4 18l16 0"
        ></path>
      </svg>

      <svg
        width="45"
        height="45"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
        x-show="open"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
      >
    </button>
  </div>

  <!-- <= MD screen -->
  <div
    x-show="open"
    x-transition
    class="flex flex-col text-center justify-between"
  >
    <slot />
  </div>

  <!-- >= LG screen -->
  <div class="lg:flex lg:flex-row lg:justify-between text-center hidden">
    <slot />
  </div>
</nav>
