---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Comindad de programadores y desarrolladores de La Laguna"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/code.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Laguna Dev</title>
  </head>
  <body class="bg-zinc-900">
    <Header />

    <main class="container">
      <slot />
    </main>
  </body>
</html>
