---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Eventos">
  <h1 class="text-3xl font-extrabold">2024</h1>

  <!-- TODO: Crear md de los eventos que han pasado -->
  <Card title="titulo"> Carta </Card>
</Layout>
